body{
    background-image: url("pozadie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}
/*---------------Stylovanie hlavicky --------*/

a{
    font-size:30px;
    color:#F3EBFC;
    text-decoration: none;

}

a:hover{
    text-decoration: underline white;
    color: white;
}


/*---------------Stylovanie hlavicky KONIEC --------*/

/*---------------Stylovanie footeru --------*/
strong{
    font-size:45px;
    font-weight: bolder;
    color:white;
    display: block;
}


.zafarbeny{
    border-top: white solid 3px;
}

li{
    font-size:30px;
    color:#F3EBFC;
    text-decoration: none;

}

ul{
    list-style: none;
}

.float{
    float:left;
    margin-right: 25px;
}

.prvaIkona{
    margin-left: 65px;
}
/*---------------Stylovanie footeru KONIEC --------*/

/*---------------HLAVNY OBSAH------------*/

input:not([type="checkbox"]), /*vsetky ktore nie su typu checkbox*/
textarea{
    background: #fff;
    border:none;
    width: 300px;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(30, 139, 195, 0.6);
}

input:focus{
    outline: black 8px solid;
}

textarea{
    width: 900px;
}

label{
    cursor: pointer;
    display: block;
    text-align: left;
    margin-left: 25px;
    padding-left: 0;
    color:#B6AFBD;
    font-size: 30px;
}

input[type="submit"]{
    cursor: pointer;
}

.obalovac{
    width: 50%;
    margin: auto;
}

form{
    width: 300px;
    margin: auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 81px;
    color:#B6AFBD;
}

.specialny{

}